ALTER TABLE Users ADD Tokens INT DEFAULT 0;
ALTER TABLE Teams ADD FundBalance DECIMAL(18,2) DEFAULT 0;
ALTER TABLE Teams ADD IsFundUnlocked BIT DEFAULT 0;
CREATE TABLE TokenTransactions ( TransactionId INT IDENTITY(1,1) PRIMARY KEY, UserId INT FOREIGN KEY REFERENCES Users(UserID), Amount INT, TransactionType NVARCHAR(50), Description NVARCHAR(200), CreatedAt DATETIME DEFAULT GETDATE() );
CREATE TABLE TeamFundTransactions ( TransactionId INT IDENTITY(1,1) PRIMARY KEY, TeamId INT FOREIGN KEY REFERENCES Teams(TeamID), PlayerId INT NULL FOREIGN KEY REFERENCES Users(UserID), Amount DECIMAL(18,2), TransactionType NVARCHAR(50), Description NVARCHAR(200), CreatedAt DATETIME DEFAULT GETDATE() );
